.message-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-top: 20px;

  .spin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 60px);
  }

  .block {
    display: flex;
    flex-direction: column;
    width: 1120px;
    padding: 8px 4px;
    margin-bottom: 20px;
    overflow-x: auto;
    background: #512da8;
    border-radius: 5px;

    .top {
      margin-bottom: 5px;
      margin-left: 10px;
      line-height: 30px;
      color: #fff;

      :global(.semi-icon) {
        color: rgb(84 169 255);
      }
    }

    .bottom {
      display: flex;
    }
  }
}
