.company-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 590px;

  .block {
    height: 370px;
    padding: 30px 40px;
    background-color: #f9f9f9;
    border-radius: 5px;

    .introduction {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 400px;

      .title {
        margin-bottom: 12px;
        font-size: 24px;
        color: var(--semi-color-text-0);
      }

      .edit {
        padding-bottom: 6px;
        margin-left: 6px;

        .icon {
          font-size: 20px;
          color: var(--semi-color-text-0);
          cursor: pointer;
        }
      }
    }

    .form {
      width: 400px;
      height: calc(100% - 70px);

      .spin {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }
    }

    .button {
      display: flex;
      justify-content: flex-end;
    }
  }
}

body[theme-mode="dark"] {
  .company-container {
    .block {
      background-color: #1c1f23;
    }
  }
}
