.modal-container {
  max-height: 300px;
  overflow-y: auto;

  :global(.semi-modal-content) {
    max-height: 500px;
    overflow-y: auto;
  }

  .spin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 200px;
  }
}
