.header {
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 10px 20px;
  border-bottom: 1px solid rgb(84 169 255);

  .logo {
    display: flex;
    align-items: center;
    padding: 5px 0;
    cursor: pointer;
    user-select: none;

    .logo-image {
      width: 44px;
      height: 100%;
      margin-right: 8px;
      border-radius: 5px;
    }

    .logo-title {
      font-size: 20px;
      font-weight: 800;
      color: #0064fa;
    }
  }

  .button-group {
    padding: 0 10px;
    background-color: rgba($color: #000, $alpha: 15%);
    border-radius: 10px;

    :global(.semi-icon-default) {
      font-size: 25px;
      cursor: pointer;
    }

    .change-theme {
      height: 40px;
      margin-right: 4px;
      color: var(--semi-color-text-0);
      background-color: transparent;
      border: none;
      outline: none;
    }
  }
}

body[theme-mode="dark"] {
  .header {
    .logo {
      .logo-title {
        color: #54a9ff;
      }
    }

    .button-group {
      background-color: rgba($color: #fff, $alpha: 15%);
    }
  }
}
