.header {
  position: sticky;
  height: 40px;

  .button-group {
    position: absolute;
    right: 12px;
    z-index: 1000;
    padding: 0 10px;
    margin-top: 15px;
    background-color: rgba($color: #000, $alpha: 15%);
    border-radius: 10px;

    :global(.semi-icon-default) {
      font-size: 25px;
      cursor: pointer;
    }

    .change-theme {
      height: 40px;
      margin-right: 4px;
      background-color: transparent;
      border: none;
      outline: none;

      .moon {
        color: #000;
      }

      .sun {
        color: #fff;
      }
    }
  }
}

body[theme-mode="dark"] {
  .header {
    .button-group {
      background-color: rgba($color: #fff, $alpha: 15%);
    }
  }
}
